BranchPredictor
BranchPredictorChecker
temp
.vscode
submissions/
testing/
workspace/
results/**/*
post_processing/
resubmissions/
filtered_resubmissions/
!results/pipeline_csvs
!results/pipeline_csvs/*
!results/branch_predictor_csvs
!results/branch_predictor_csvs/*
!results/missing_invalid_zip
!results/pipeline_compile_error
!results/branch_predictor_compile_error
